<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/recipes.css">
  </head>
  <body>

    <ul class="top-nav">
      <li class="nav-entry"><a href="/">Home</a></li>
      <li class="nav-entry"><a href="/recipes">Recipes</a></li>
      <li class="nav-entry"><a href="/about">About</a></li>

      <!-- A dropdown menu for later purposes -->
      <!-- <li class="dropdown"> -->
      <!-- 	<a href="#" class="dropbtn">Dropdown</a> -->
      <!-- 	<div class="dropdown-content"> -->
      <!-- 	  <a href="#">Link 1</a> -->
      <!-- 	  <a href="#">Link 2</a> -->
      <!-- 	  <a href="#">Link 3</a> -->
      <!-- 	</div> -->
      <!-- </li> -->
    </ul>

    <!-- <a href="/">home</a -->
    {% block content %}{% endblock %}
  </body>
</html>
