/* @charset "UTF-8"; */

body {
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    margin: 0;
}

ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535F4B;
}

li.nav-entry {
    float: left;
}

li.nav-entry a, .dropbtn {
    display: inline-block;
    color: #F9F9F9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-entry a:hover, .dropdown:hover .dropbtn {
    color: #404040; /* 25% grey */
    background-color: #80867D;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(64,64,64,0.08);
}

.dropdown-content a {
    color: #404040; /* 25% grey */
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.subpage {
    margin:  10px 5px 15px 20px;
    padding: 12px 16px;
}
